{% extends "ate_tasks/entity/base_update.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb verbose_name "ate_tasks:entity-task-list" %}
    {% breadcrumb "更新" "ate_tasks:entity-task-update" object.id %}
{% endblock %}
{% block main_script %}
    {{ block.super }}
    <script src="{% static 'ate_tasks/js/jquery.formset.js' %}"></script>
{% endblock %}
{% block inline_formset %}
    <fieldset>
        <legend>测试项列表</legend>
        <table class="table">
            {{ task_step_form.management_form }}
            {% for form in task_step_form.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </fieldset>
{% endblock %}
{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: '添加测试项',
            deleteText: '删除',
            prefix: '{{ task_step_form.prefix }}'
        });
    </script>
{% endblock %}