<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <input type="hidden" name="form-TOTAL_FORMS" value="5" id="id_form-TOTAL_FORMS"/><input type="hidden"
                                                                                            name="form-INITIAL_FORMS"
                                                                                            value="0"
                                                                                            id="id_form-INITIAL_FORMS"/><input
        type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"/><input type="hidden"
                                                                                             name="form-MAX_NUM_FORMS"
                                                                                             value="1000"
                                                                                             id="id_form-MAX_NUM_FORMS"/>
    <tr>
        <th><label for="id_form-0-remark">remark:</label></th>
        <td><input type="text" name="form-0-remark" readonly="readonly" id="id_form-0-remark"/></td>
    </tr>
    <tr>
        <th><label for="id_form-0-Parity">校验:</label></th>
        <td><select name="form-0-Parity" id="id_form-0-Parity">
            <option value="ODD">ODD</option>

            <option value="EVEN">EVEN</option>

            <option value="NONE">NONE</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-0-BaudRate">波特率:</label></th>
        <td><select name="form-0-BaudRate" id="id_form-0-BaudRate">
            <option value="1200">1200</option>

            <option value="2400">2400</option>

            <option value="4800">4800</option>

            <option value="9600">9600</option>

            <option value="19200">19200</option>

            <option value="38400">38400</option>

            <option value="115200">115200</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-0-StopBits">停止位:</label></th>
        <td><select name="form-0-StopBits" id="id_form-0-StopBits">
            <option value="1">1</option>

            <option value="2">2</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-0-name">name:</label></th>
        <td><input type="text" name="form-0-name" readonly="readonly" id="id_form-0-name"/></td>
    </tr>
    <tr>
        <th><label for="id_form-0-DataBits">数据位:</label></th>
        <td><select name="form-0-DataBits" id="id_form-0-DataBits">
            <option value="5">5</option>

            <option value="6">6</option>

            <option value="7">7</option>

            <option value="8">8</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-0-messages">消息:</label></th>
        <td><select name="form-0-messages" multiple="multiple" id="id_form-0-messages">
        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-0-com">com:</label></th>
        <td><input type="text" name="form-0-com" readonly="readonly" id="id_form-0-com"/></td>
    </tr>
    <tr>
        <th><label for="id_form-1-remark">remark:</label></th>
        <td><input type="text" name="form-1-remark" readonly="readonly" id="id_form-1-remark"/></td>
    </tr>
    <tr>
        <th><label for="id_form-1-Parity">校验:</label></th>
        <td><select name="form-1-Parity" id="id_form-1-Parity">
            <option value="ODD">ODD</option>

            <option value="EVEN">EVEN</option>

            <option value="NONE">NONE</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-1-BaudRate">波特率:</label></th>
        <td><select name="form-1-BaudRate" id="id_form-1-BaudRate">
            <option value="1200">1200</option>

            <option value="2400">2400</option>

            <option value="4800">4800</option>

            <option value="9600">9600</option>

            <option value="19200">19200</option>

            <option value="38400">38400</option>

            <option value="115200">115200</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-1-StopBits">停止位:</label></th>
        <td><select name="form-1-StopBits" id="id_form-1-StopBits">
            <option value="1">1</option>

            <option value="2">2</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-1-name">name:</label></th>
        <td><input type="text" name="form-1-name" readonly="readonly" id="id_form-1-name"/></td>
    </tr>
    <tr>
        <th><label for="id_form-1-DataBits">数据位:</label></th>
        <td><select name="form-1-DataBits" id="id_form-1-DataBits">
            <option value="5">5</option>

            <option value="6">6</option>

            <option value="7">7</option>

            <option value="8">8</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-1-messages">消息:</label></th>
        <td><select name="form-1-messages" multiple="multiple" id="id_form-1-messages">
        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-1-com">com:</label></th>
        <td><input type="text" name="form-1-com" readonly="readonly" id="id_form-1-com"/></td>
    </tr>
    <tr>
        <th><label for="id_form-2-remark">remark:</label></th>
        <td><input type="text" name="form-2-remark" readonly="readonly" id="id_form-2-remark"/></td>
    </tr>
    <tr>
        <th><label for="id_form-2-Parity">校验:</label></th>
        <td><select name="form-2-Parity" id="id_form-2-Parity">
            <option value="ODD">ODD</option>

            <option value="EVEN">EVEN</option>

            <option value="NONE">NONE</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-2-BaudRate">波特率:</label></th>
        <td><select name="form-2-BaudRate" id="id_form-2-BaudRate">
            <option value="1200">1200</option>

            <option value="2400">2400</option>

            <option value="4800">4800</option>

            <option value="9600">9600</option>

            <option value="19200">19200</option>

            <option value="38400">38400</option>

            <option value="115200">115200</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-2-StopBits">停止位:</label></th>
        <td><select name="form-2-StopBits" id="id_form-2-StopBits">
            <option value="1">1</option>

            <option value="2">2</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-2-name">name:</label></th>
        <td><input type="text" name="form-2-name" readonly="readonly" id="id_form-2-name"/></td>
    </tr>
    <tr>
        <th><label for="id_form-2-DataBits">数据位:</label></th>
        <td><select name="form-2-DataBits" id="id_form-2-DataBits">
            <option value="5">5</option>

            <option value="6">6</option>

            <option value="7">7</option>

            <option value="8">8</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-2-messages">消息:</label></th>
        <td><select name="form-2-messages" multiple="multiple" id="id_form-2-messages">
        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-2-com">com:</label></th>
        <td><input type="text" name="form-2-com" readonly="readonly" id="id_form-2-com"/></td>
    </tr>
    <tr>
        <th><label for="id_form-3-remark">remark:</label></th>
        <td><input type="text" name="form-3-remark" readonly="readonly" id="id_form-3-remark"/></td>
    </tr>
    <tr>
        <th><label for="id_form-3-Parity">校验:</label></th>
        <td><select name="form-3-Parity" id="id_form-3-Parity">
            <option value="ODD">ODD</option>

            <option value="EVEN">EVEN</option>

            <option value="NONE">NONE</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-3-BaudRate">波特率:</label></th>
        <td><select name="form-3-BaudRate" id="id_form-3-BaudRate">
            <option value="1200">1200</option>

            <option value="2400">2400</option>

            <option value="4800">4800</option>

            <option value="9600">9600</option>

            <option value="19200">19200</option>

            <option value="38400">38400</option>

            <option value="115200">115200</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-3-StopBits">停止位:</label></th>
        <td><select name="form-3-StopBits" id="id_form-3-StopBits">
            <option value="1">1</option>

            <option value="2">2</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-3-name">name:</label></th>
        <td><input type="text" name="form-3-name" readonly="readonly" id="id_form-3-name"/></td>
    </tr>
    <tr>
        <th><label for="id_form-3-DataBits">数据位:</label></th>
        <td><select name="form-3-DataBits" id="id_form-3-DataBits">
            <option value="5">5</option>

            <option value="6">6</option>

            <option value="7">7</option>

            <option value="8">8</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-3-messages">消息:</label></th>
        <td><select name="form-3-messages" multiple="multiple" id="id_form-3-messages">
        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-3-com">com:</label></th>
        <td><input type="text" name="form-3-com" readonly="readonly" id="id_form-3-com"/></td>
    </tr>
    <tr>
        <th><label for="id_form-4-remark">remark:</label></th>
        <td><input type="text" name="form-4-remark" readonly="readonly" id="id_form-4-remark"/></td>
    </tr>
    <tr>
        <th><label for="id_form-4-Parity">校验:</label></th>
        <td><select name="form-4-Parity" id="id_form-4-Parity">
            <option value="ODD">ODD</option>

            <option value="EVEN">EVEN</option>

            <option value="NONE">NONE</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-4-BaudRate">波特率:</label></th>
        <td><select name="form-4-BaudRate" id="id_form-4-BaudRate">
            <option value="1200">1200</option>

            <option value="2400">2400</option>

            <option value="4800">4800</option>

            <option value="9600">9600</option>

            <option value="19200">19200</option>

            <option value="38400">38400</option>

            <option value="115200">115200</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-4-StopBits">停止位:</label></th>
        <td><select name="form-4-StopBits" id="id_form-4-StopBits">
            <option value="1">1</option>

            <option value="2">2</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-4-name">name:</label></th>
        <td><input type="text" name="form-4-name" readonly="readonly" id="id_form-4-name"/></td>
    </tr>
    <tr>
        <th><label for="id_form-4-DataBits">数据位:</label></th>
        <td><select name="form-4-DataBits" id="id_form-4-DataBits">
            <option value="5">5</option>

            <option value="6">6</option>

            <option value="7">7</option>

            <option value="8">8</option>

        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-4-messages">消息:</label></th>
        <td><select name="form-4-messages" multiple="multiple" id="id_form-4-messages">
        </select></td>
    </tr>
    <tr>
        <th><label for="id_form-4-com">com:</label></th>
        <td><input type="text" name="form-4-com" readonly="readonly" id="id_form-4-com"/></td>
    </tr>

</table>
</body>
</html>